html { 
    background: url("../../Images/StudioImage.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #F0E6DA;
  }
.content {
    color: none;
}
  .logo {
    text-align: center;
    padding-top: 50px;
    align-items: center;
    margin: auto;
  }
  .logo img {
    max-width: 450px;
  }
  .header {
    font-family: cardo, serif;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
    text-align: center;
    color: #313131;
    padding-bottom: 30px;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
ul {
    list-style: none;
    display: inline-flex;
}
li {
    margin-right: 5px;
    margin-left: 5px;
}
.row {
    display: flex;
    flex-direction: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    width: 100vw;
  }
  
  .column {
    flex: 20%;
  }
  .column img {
    width: 100%;
    margin: -10px;
}
.stores {
    background-color: #313131;
}

@media only screen and (max-width: 450px) {
.logo {
    text-align: center;
    padding-top: 60px;
    align-items: center;
    margin: auto;

  }
.logo img {
    max-width: 300px;
}
}